<md-sidenav
    class="md-sidenav-right"
    md-component-id="match"
    md-is-open="matches.data.matchEditing"
    md-whiteframe="2">
  <md-content class="fit-height fit-width">
    <div layout="column" class="fit-height fit-width sidenav">
      <div layout="column" class="date-ctn white" layout-align="center start">
        <div layout layout-align="center center" class="date">
          {{matches.data.today.name + ' ' + matches.data.today.date + ' ' +
          matches.data.today.monthName + ' ' + matches.data.today.year}}
        </div>
        <div layout layout-align="center center" class="hour pad-t-3x">
          <i class="material-icons">access_time</i>
          {{matches.data.selectedHour.value + ':'}}
          <span ng-show="matches.data.selectedHour.isHalf">30</span>
          <span ng-hide="matches.data.selectedHour.isHalf">00</span>
          &nbsp;-&nbsp;{{matches.data.selectedHour.value + 1 + ':'}}
          <span ng-show="matches.data.selectedHour.isHalf">30</span>
          <span ng-hide="matches.data.selectedHour.isHalf">00</span>
          <span class="pad-l-3x">
            &nbsp;{{matches.data.currentField.name}}
          </span>
        </div>
        <div ng-show="matches.data.matchBooked" layout layout-align="center center" class="alert">
          <span class="red">Le match que vous éditez vient d'être réservé par un utilisateur de l'application weBall</span>
        </div>
      </div>
      <form ng-submit="matches.send()" layout="column">
        <md-input-container class="md-icon-float md-block" ng-class="{'md-input-invalid' : matches.data.reponsable.errors.name}">
          <label>{{matches.data.placeholders.name}}</label>
          <md-icon md-svg-src="/assets/icons/name.svg"></md-icon>
          <input md-autofocus="!matches.data.responsable.name" type="text" name="name"
                 ng-model="matches.data.responsable.name">
        </md-input-container>
        <md-input-container class="md-icon-float md-block" ng-class="{'md-input-invalid' : matches.data.responsable.errors.phone}">
          <label>{{matches.data.placeholders.phone}}</label>
          <md-icon md-svg-src="/assets/icons/phone.svg"></md-icon>
          <input type="text" phone-prefix name="name" ng-model="matches.data.responsable.phone">
        </md-input-container>
        <md-input-container class="md-img-float md-block">
          <label>{{matches.data.placeholders.email}}</label>
          <img src="/assets/icons/email.svg" alt="email icon">
          <input type="email" name="email" ng-model="matches.data.responsable.email">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <md-icon md-svg-src="/assets/icons/joueurs.svg"></md-icon>
          <md-select class="white" ng-model="matches.data.match.maxPlayers" aria-label="team size">
            <md-option ng-repeat="size in matches.data.teamSizes" ng-value="size.value"
                       ng-selected="size.value === matches.data.match.maxPlayers">
              {{size.name}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-icon-float md-block switch-ctn">
          <md-icon md-svg-src="/assets/icons/paiement.svg"></md-icon>
          <md-switch class="md-primary white" aria-label="match paid" ng-disabled="matches.data.match.alreadyPaid"
                     ng-model="matches.data.match.justPaid">
            {{matches.data.placeholders.paid}}
          </md-switch>
        </md-input-container>
        <div layout="row" class="fit-width" ng-switch="!matches.data.match.createdAt">
          <div layout="column" class="fit-width" ng-switch-when="true">
            <md-button type="submit" class="md-raised md-primary fit-width" v-busy="matches.data.isUploadingMatch">
              <span class="white" translate>réserver</span>
            </md-button>
          </div>
          <div class="white fit-width" layout="column" layout-align="center center" ng-switch-default>
            <div layout="row" class="fit-width fit-height">
              <md-button class="delete-btn action-btn" ng-click="matches.delete(matches.data.match)" v-busy="matches.data.isDeletingMatch">
                <md-icon md-font-set="material-icons" class="white">delete</md-icon>
                <!--<span class="red" translate>supprimer</span>-->
              </md-button>
              <md-button type="submit" class="md-raised md-primary fit-width action-btn" v-busy="matches.data.isUploadingMatch">
                <span class="white" translate>mettre à jour</span>
              </md-button>
            </div>
            <div layout="row" layout-align="start" layout-padding class="fit-width created-ctn">
              <div layout="column">
                <md-icon md-svg-src="/assets/icons/created-with-{{matches.data.match.createdWith}}.svg"></md-icon>
              </div>
              <div class="created fit-width" layout="column">
                <i layout="row">
                  Crée avec {{matches.data.match.createdWith}} -
                  {{matches.data.match.createdAt | date: 'Le d/MM/yyyy à HH:mm'}}
                </i>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </md-content>
</md-sidenav>