#matches {
  md-content {
    padding-top: @header-height;
    .matches {
      height: calc(~"60vh - 80px");
      md-card {
        height: 100%;
        .md-toolbar-tools {
          min-height: 40px;
          height: 40px;
          font-size: 14px;
          background-color: rgba(0,0,0, 0.4);
        }
        md-content {
          background-color: rgba(0,0,0, 0.1);
          padding: @padding-4x;
          &.bordered {
            border-left: solid 1px @true-black;
          }
          &.extra-padded {
            padding: 0 @padding-12x;
          }
          .hour-ctn {
            width: 80px;
            height: 100px;
          }
          .line-nav {
            width: 3px;
            background-color: @white;
            height: 100px;
            opacity: 0.1;
          }
          .triangle-left {
            width: 0;
            height: 0;
            border-top: 35px solid transparent;
            border-right: 15px solid @white-transparent;
            border-bottom: 35px solid transparent;
            margin-top: 15px;
            margin-left: 7px;
          }
          .container {
            background-color: @white-transparent;
            height: 70px;
            margin-top: 15px;
            width: 320px;
          }
          .field {
            background-color: @white-transparent;
            height: 150px;
          }
          .circle {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: absolute;
            margin-top: 42px;
            margin-left: -10px;
          }
          md-input-container {
            min-height: 10px;
            height: 40px;
            padding-bottom: 0;
            &:not(.md-input-invalid) {
              .md-input-has-value label {
                color: @dark-grey;
              }
            }
            .md-input {
              border-color: @white-transparent;
            }
            &.switch-ctn {
              md-icon {
                position: absolute;
                top: 2px;
                left: 2px;
              }
              span {
                margin-left: 36px;
                color: @white;
              }
              md-switch {
                display: inline-flex;
                float: right;
                margin: 0px;
              }
            }
            .md-input {
              color: white;
            }
            md-select {
              margin-left: 36px;
              .md-text {
                color: @white;
              }
              .md-select-icon {
                color: @white;
              }
              .md-select-value {
                border-color: @white-transparent;
              }
            }
          }
        }
      }
    }
  }

  @colors: green @mb-color, red @red, orange @orange, blue @blue, grey @grey;
  .generateCircles(@i:1) when (@i <= length(@colors)){
    @start: e('.circle[data-attribute=');
    @end: e(']');
    @name: extract(extract(@colors, @i), 1);
    @{start}@{name}@{end} {
      @color: extract(extract(@colors, @i), 2);
      border: solid @color 3px;
    }
    .generateCircles(@i + 1);
  }
  .generateLines(@i: 1) when (@i <= length(@colors)){
    @start: e('.line[data-attribute=');
    @end: e(']');
    @name: extract(extract(@colors, @i), 1);
    @{start}@{name}@{end} {
      @color: extract(extract(@colors, @i), 2);
      background: @color;
    }
    .generateLines(@i + 1);
  }
  .generateTriangles(@i: 1) when (@i <= length(@colors)){
    @start: e('.li[data-attribute=');
    @end: e(']');
    @name: extract(extract(@colors, @i), 1);
    @{start}@{name}@{end} {
      @color: extract(extract(@colors, @i), 2);
      border-top: 15px solid @color;
    }
    .generateTriangles(@i + 1);
  }
  .circle {
    .generateCircles();
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px 0;
  }
  .bg-line {
    margin-left: 11px;
    width: 4px;
    min-height: 50px;
    background: @light-grey;
  }
  .line {
    .generateLines();
    min-height: 20px;
  }
  .triangle {
    .generateTriangles();
    width: 0;
    height: 0;
    margin-left: -5px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
  }

}