.match-edit {
  md-backdrop.md-opaque {
    background-color: @black-transparent;
  }
  md-sidenav {
    background: @black-transparent;
    width: 340px;
    md-content {
      background: @black-transparent-2;
      .sidenav {
        padding: 40px 20px;
        .date-ctn {
          i {
            font-size: 16px;
            margin-right: 8px;
          }
          .date {
            font-size: 18px;
          }
          margin-bottom: 50px;
          padding-left: 4px;
        }
        .created-ctn {
          margin-top: 50px;
          .created {
            font-size: 11px;
            margin: 6px 0px;
          }
        }
        .delete-btn {
          border: 1px solid @white;
          padding: 0;
          margin: 6px 35px;
          width: 50%;
          min-width: 0;
          &:hover {
            background-color: transparent !important;
          }
        }
        button[type='submit'] {
          font-size: 11px;
          .bold;
        }
        md-input-container {
          min-height: 10px;
          height: 30px;
          padding-bottom: 0;
          label {
            color: @white;
          }
          md-icon {
            height: 18px;
            width: 18px;
            top: 8px;
          }
          .switch-ctn {
            md-icon {
              top: 8px;
            }
          }
          md-switch {
            .md-label {
              margin-left: 36px;
            }
          }
        }
      }
    }
  }
}