<div id="matches-calendar">
  <mb-navbar></mb-navbar>
  <md-content class="main-content scroll-content bg-img">
    <section>
      <mb-calendar matches="matches.data.allMatches" today="matches.data.today" layout></mb-calendar>
    </section>
    <section>
      <md-content class="fit-height">
        <div class="t-head full-width" layout="row">
          <div flex="10"></div>
          <div layout layout-align="center center" flex="25" class="field white bold"
               ng-repeat="field in matches.data.fields | limitTo: matches.data.limitTo | startFrom: matches.data.startFrom">
            {{field.name}}
          </div>
        </div>
        <div class="t-body fit-height fit-width" layout="column">
          <div layout="row" class="slot-ctn" ng-repeat="hour in matches.data.hours" ng-hide="hour.value > 25" ng-class="{'first' : $first}">
            <div layout layout-align="center start" flex="10" class="white bold">
              <span ng-show="hour.value * 10 % 10 === 0">{{hour.value}}h</span>
            </div>
            <div layout flex="25" class="slot {{hour.value * 10 % 10 !== 0 ? 'border-dashed' : 'border-solid'}}"
                 ng-repeat="slot in matches.data.fields | limitTo: matches.data.limitTo | startFrom: matches.data.startFrom">
              <div class="match-ctn absolute pointer" ng-click="matches.openSidenav(hour, slot)" id="{{hour.value + '-' + slot._id}}"
                   ng-hide="matches.data.hours[$parent.$index - 1].matches[slot._id] ||
                   matches.data.hours[$parent.$index + 1].matches[slot._id] || hour.value >= 21.5">
                <div layout="row" class="match fit-height fit-width" ng-hide="hour.matches[slot._id]">
                  <div layout="column" layout-align="center center" class="fit-width">
                    <i class="material-icons green">add_circle</i>
                  </div>
                </div>
                <div layout="row" class="match booked fit-height fit-width" ng-if="hour.matches[slot._id]">
                  <div layout="column" class="fit-width fit-height">
                    <div layout="row" layout-align="center center" class="fit-width fit-height">
                      <div flex="45" layout layout-align="center center">
                        <un-svg svg-src="assets/icons/user-2.svg"></un-svg>
                        <span class="{{matches.data.statusToColor[hour.matches[slot._id].teams[0].status].color}}">
                          &nbsp;{{hour.matches[slot._id].teams[0].currentPlayers || '0'}}</span>
                      </div>
                      <div class="white uppercase" flex="10" layout layout-align="center center">
                        vs
                      </div>
                      <div flex="45" layout layout-align="center center">
                        <un-svg svg-src="assets/icons/user-2.svg"></un-svg>
                        <span class="{{matches.data.statusToColor[hour.matches[slot._id].teams[1].status].color}}">
                          &nbsp;{{hour.matches[slot._id].teams[1].currentPlayers || '0'}}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </md-content>
      <div class="match-edit" ng-include="'app/manager/matches/match-edit.tpl.html'"></div>
    </section>
  </md-content>
</div>