.match-edit {
  md-backdrop.md-opaque {
    background-color: @black-transparent;
  }
  md-sidenav {
    background: @black-transparent;
    width: 340px;
    md-content {
      background: @black-transparent-2;
      .sidenav {
        padding: 40px 20px;
        .date-ctn {
          i {
            font-size: 16px;
            margin-right: 8px;
          }
          .hour {
            font-family: 'Avenir Light';
          }
          .alert {
            margin-top: 25px;
            transition: .5s linear all;
            &.ng-hide-add,
            &.ng-hide-remove {
              display: block !important;
              height: 0px;
            }

            &.ng-hide-remove.ng-hide-remove-active {
              height: @header-height;
            }
            &.ng-hide-add{
              height: @header-height;
            }
            &.ng-hide-add.ng-hide-add-active {
              height: 0;
            }
          }
          .date {
            font-size: 18px;
          }
          margin-bottom: 25px;
          padding-left: 4px;
        }
        .created-ctn {
          margin-top: 50px;
          .created {
            font-size: 11px;
            margin: 6px 0px;
          }
        }
      }
    }
  }
}