.form-card {
  width: 400px;
}

//C'est pas plutôt #signin ? y'a pas de classe .signin
.signin {
  .logo {
    fill: @grey;
    width: 75%;
  }

  md-input-container {
    input {
      color: @grey;
    }
    &.md-input-invalid {
      md-icon {
        color: red;
      }
    }
    &.md-input-has-value:not(.md-input-invalid) {
      label {
        color: @grey;
      }
    }
  }
}

//Deplace ça à l'intérieur des accolades du .signin si vous le fixez
#submit-button {
	box-shadow: none;
	color: white;
}