<div class="blurred-background"></div>
<div class="black-filter"></div>
<div id="signin">
	<wb-navbar opaq="true"></wb-navbar>
	<md-content class="scroll-content" layout-fill>
		<div layout="row" layout-align="center center">
			<div flex="30" layout>
				<span layout layout-align="center center">
					<hr class="full-width">
				</span>
			</div>
			<div layout="column" layout-align="center center" flex="30" class="title-container">
				<h2 class="uppercase" layout layout-align="center center" translate>Connexion</h2>
				<span>Bienvenue sur votre espace d'administration myBall.</span>
			</div>
			<div flex="30" layout>
				<span layout layout-align="center center">
					<hr class="full-width">
				</span>
			</div>
		</div>
		<div layout="column" layout-align="start center" layout-fill class="form-container">
			<form flex="30" layout="column" action="signin.login()">
				<md-input-container class="md-icon-float md-block">
					<label>{{signin.datas.placeholders.email}}</label>
					<md-icon class="grey" md-font-set="material-icons">email</md-icon>
					<input required name="email" ng-model="signin.datas.login" type="text">
				</md-input-container>
				<md-input-container class="md-icon-float md-block">
					<label>{{signin.datas.placeholders.password}}</label>
					<md-icon class="grey" md-font-set="material-icons">lock</md-icon>
					<input required name="password" ng-model="signin.datas.password" type="password">
				</md-input-container>
				<md-button class="md-raised md-primary" ng-click="signin.login()" v-busy="signin.datas.isLoading">
					<span translate>Connexion</span>
				</md-button>
			</form>
		</div>
	</md-content>
</div>