.form-card {
  width: 400px;
}

#signin {
  md-content {
    background: transparent;
    z-index: 1;
  }
  form {
    width: 35%;
    .md-button {
      border: 1px solid @white;
      border-radius: 5px;
      margin-left: 0px;
      margin-right: 0px;
      &:hover {
        border-color: transparent;
      }
    }
    .forgot {
      font-size: 12px;
    }
    .mail-input {
      md-icon {
        margin-top: 5px;
      }
    }
    md-icon {
      svg {
        height: 20px;
        margin-top: 3px;
      }
      left: -10px;
    }
  }
  .footer {
    font-size: 11px;
    padding: @padding-2x;
  }
}