#mb-navbar {
  z-index: 3;
  .links-ctn {
    a {
      .grey;
      &:hover:not(.active) {
        .bold;
      }
    }
  }
  .search-ctn {
    margin-left: 200px;
    md-autocomplete {
      background-color: @dark-grey;
      min-width: 400px;
      height: 30px;
      border-radius: 3px;
      .md-whiteframe-z1 {
        box-shadow: none;
        input {
          height: 30px;
          line-height: 20px;
          color: @grey;
        }
        button {
          margin: 0;
        }
        md-progress-linear {
          bottom: 0;
          top: 30px;
        }
      }
    }
  }

  .links-ctn {
    margin-left: 100px;
    &.ng-hide-remove {
      animation: fadeIn .5s;
    }
  }

  .search-ctn {
    &.ng-enter {
      animation: fadeIn .5s;
    }
  }

  .action-button {
    border: 1px solid @grey;
    border-radius: 7%;
    padding: 0 15px;
  }
}