<div id="splash">
  <div class="fixed bg full-height">
    <div class="bg-img fit-height full-width"></div>
  </div>
  <md-content class="full-height fit-width bg-transparent z-index">
    <div layout="row" class="fit-width fit-height" layout-align="center center">
      <div layout="column" class="fit-width fit-height" layout-align="center center">
        <md-icon class="logo white fit-width" md-svg-src="assets/icons/myball.svg" alt="logo"></md-icon>
      </div>
    </div>
  </md-content>
</div>