<md-autocomplete
    ng-disabled="!vm.zipCode"
    md-input-name="addressAutocomplete"
    md-selected-item="vm.ngModel"
    md-items="address in vm.querySearch(vm.data.searchAddress)"
    md-item-text="address.properties.name"
    md-search-text="vm.data.searchAddress"
    md-floating-label="Adresse"
    required
    flex>
    <md-item-template>
        <span md-highlight-text="vm.data.searchAddress">{{address.properties.name}}</span>
    </md-item-template>
    <div ng-if="vm.form" ng-show="vm.form.submitted" ng-messages="vm.form.addressAutocomplete.$error">
        <div ng-message="invalid" translate>Adresse invalide</div>
        <div ng-message="required" translate>Ce champ est requis</div>
    </div>
</md-autocomplete>