<md-sidenav
    class="md-sidenav-right"
    md-component-id="authorization"
    md-whiteframe="2">
  <md-content class="fit-height fit-width white">
    <div layout="column" class="fit-height fit-width sidenav">
      <div class="fit-width day-name" layout="row" layout-align="center center">
        {{settings.data.authorization.day.name}}
      </div>
      <form ng-submit="settings.updateAuthorizations()" layout="column">
        <md-input-container class="md-icon-float md-block" ng-class="{'md-input-invalid' : settings.data.authorization.errors.from}">
          <label>{{settings.data.labels.startFrom}}</label>
          <md-icon md-font-set="white material-icons">access_time</md-icon>
          <md-select ng-model="settings.data.authorization.from">
            <md-option ng-value="hour.value" ng-repeat="hour in settings.data.startInterval" md-ink-ripple="#29C134"
            ng-selected="settings.data.authorization.from === hour.value">
              {{hour.text}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-icon-float md-block" ng-class="{'md-input-invalid' : settings.data.authorization.errors.to}">
          <label>{{settings.data.labels.endAt}}</label>
          <md-icon md-font-set="white material-icons">access_time</md-icon>
          <md-select ng-model="settings.data.authorization.to">
            <md-option ng-value="hour.value" ng-repeat="hour in settings.data.endInterval" md-ink-ripple="#29C134"
                       ng-selected="settings.data.authorization.to === hour.value">
              {{hour.text}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-icon-float md-block" ng-class="{'md-input-invalid' : matches.data.responsable.errors['phone'].value}">
          <label>{{settings.data.labels.price}}</label>
          <md-icon md-font-set="white material-icons">attach_money</md-icon>
          <input type="number" name="price" ng-model="settings.data.authorization.price">
        </md-input-container>
        <div layout="row" class="fit-width" ng-switch="settings.data.authorization.isNew">
          <div layout="column" class="fit-width" ng-switch-when="true">
            <md-button type="submit" class="md-raised md-primary fit-width" v-busy="settings.data.isUploadingAuth">
              <span class="white" translate>créer</span>
            </md-button>
          </div>
          <div class="white fit-width" layout="column" layout-align="center center" ng-switch-default>
            <div layout="row" class="fit-width fit-height">
              <md-button class="delete-btn action-btn" ng-click="settings.deleteAuthorization()" v-busy="settings.data.isDeletingAuth">
                <md-icon md-font-set="material-icons" class="white">delete</md-icon>
                <!--<span class="red" translate>supprimer</span>-->
              </md-button>
              <md-button type="submit" class="md-raised md-primary fit-width action-btn" v-busy="settings.data.isUploadingAuth">
                <span class="white" translate>mettre à jour</span>
              </md-button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </md-content>
</md-sidenav>