// Array
#authorizations {
  .t-head {
    position: fixed;
    .t-cell {
      margin: 0 @padding-3x;
      min-height: 50px;
    }
  }
  .t-body {
    margin-top: 72px;
    padding-top: @padding-2x;
    position: fixed;
    overflow-y: auto;
    .hour {
      top: -9px;
      position: absolute;
      .center-text;
    }
    .t-row {
      min-height: 50px;
      .t-cell {
        margin: 0 @padding-3x;
        height: 50px;
        .relative;
        .auth-ctn {
          top: 0px;
          left: 0px;
          .booked {
            .relative;
            z-index: 1;
            .lines {
              bottom: 0px;
              left: -8px;
              .line {
                width: 15px;
                height: 1px;
                background: @white;
                padding: 0;
                &.top {
                  bottom: 10px;
                }
                &.bottom {
                  bottom: 5px;
                }
              }
            }
            .bg-black-transparent;
            .pointer;
            &:not(.start) {
              border: none !important;
            }
            &:hover {
              .bg-black-transparent-2;
            }
          }
          .free {
            &:hover, &.selected {
              .bg-black-transparent;
              i {
                visibility: visible;
              }
            }
            i {
              padding: 0;
              font-size: 25px;
              visibility: hidden;
            }
          }
        }
      }
    }
  }
}

// Sidebar
#authorization {
  md-sidenav {
    .day-name {
      padding: 80px 0;
      font-size: 35px;
    }
    md-input-container {
      min-width: 100px;
    }
  }
}