<md-content class="bg-transparent white" id="authorizations">
  <div class="t-head full-width" layout="row">
    <div flex="9"></div>
    <div flex="13" class="t-cell" layout="column" hide-gt-sm layout-padding layout-align="center center"
         ng-repeat="day in settings.data.calendar.daysDisplayed">
      {{day.shortName}}
    </div>
    <div flex="13" class="t-cell" layout="column" hide-xs hide-sm layout-padding layout-align="center center"
         ng-repeat="day in settings.data.calendar.daysDisplayed">
      {{day.name}}
    </div>
  </div>
  <div class="t-body fit-height full-width" layout="column">
    <div class="t-row full-width" layout="row" ng-repeat="(hIndex, hour) in settings.data.hours">
      <div flex="9" layout="column" layout-align="center center" class="relative">
        <span class="hour fit-width" ng-hide="hour.isHalf || hour.value > 22">
          {{hour.value}}:00
        </span>
      </div>
      <div flex="13" layout-padding class="t-cell free" layout-align="center center" layout="column"
           ng-repeat="day in settings.data.calendar.daysDisplayed"
           ng-if="!hour.closedDays[day.number]"
           ng-class="{'half': hour.isHalf, 'start': hour.start}">
          <div class="absolute add-auth double pointer"
               ng-click="settings.openSideNav(hour, day, 1)"
               ng-show="!$last && settings.data.hours[hIndex+1].value < 22.5 && !settings.data.hours[hIndex+1].closedDays[day.number] && hour.value !== 21.5">
            <i class="material-icons green">add_circle</i>
          </div>
          <div class="absolute add-auth pointer"
               ng-click="settings.openSideNav(hour, day, 0.5)"
               ng-show="!$last && settings.data.hours[hIndex+1].value < 22.5 && settings.data.hours[hIndex+1].closedDays[day.number] && hour.value !== 21.5">
            <i class="material-icons green">add_circle</i>
          </div>
      </div>
      <div flex="13" layout-padding class="t-cell closed" layout-align="center center" layout="column"
           ng-repeat="day in settings.data.calendar.daysDisplayed"
           ng-if="hour.closedDays[day.number]"
           id="{{day.number}}d{{hour.value}}"
           ng-mouseenter="settings.handleHours(hour, day)"
           ng-click="settings.openSideNav()"
           ng-class="{'start': hour.start}">
        <md-tooltip >
          Mofifier
        </md-tooltip>
      </div>
    </div>
  </div>
</md-content>