#availibilities {
  md-datepicker {
    background: transparent;
    margin-right: 0;
    padding-right: 0;
    .md-datepicker-button {
      display: none;
    }
    .md-datepicker-input-container {
      width: 300px;
      margin-left: 0;
      input {
        color: @white;
      }
    }
    .md-datepicker-triangle-button {
      background-image: url('/assets/icons/add.svg');
      background-repeat: no-repeat;
      border: none;
      background-position: 6px 10px;
      &:hover {
        background-color: transparent !important;
      }
      .md-datepicker-expand-triangle {
        display: none;
      }
    }
    &.ng-touched {
      .md-datepicker-input-container {
        input {
          margin-left: 12px;
        }
      }
    }
    &.has-date {
      .md-datepicker-triangle-button {
        display: none;
      }
    }
  }
  .delete-btn {
    border: none;
    background: transparent;
    top: 0;
    right: 0;
    padding: 0;
  }
}