<md-content class="bg-transparent">
  <div class="fit-height fit-width" layout="column" layout-padding>
    <div class="fit-height" layout="row" layout-align="center center">
      <div layout="column" class="fit-height" layout-align="center center">
        <div layout="row" layout-align="center center">
          <md-select ng-model="settings.data.selectedField" aria-label="field name">
            <md-option ng-repeat="field in settings.data.newIdentity.five.fields" ng-value="field"
                       class="white bg-black-transparent-2 hover-green"
                       md-ink-ripple="#29C134">
              {{field.name}}
            </md-option>
          </md-select>
        </div>
        <div layout="row" layout-align="center center">
          <md-input-container>
            <label>{{settings.data.labels.fieldName}}</label>
            <input type="text" ng-model="settings.data.selectedField.name"
                   name="fieldName">
          </md-input-container>
        </div>
        <div class="fit-width" layout="row" layout-align="center center">
          <md-input-container class="fit-width switch-ctn" layout>
            <md-switch layout layout-align="end center" class="grey fit-width md-primary" aria-label="field available"
                       ng-model="settings.data.selectedField.available">
              {{settings.data.labels.available}}
            </md-switch>
          </md-input-container>
        </div>
      </div>
    </div>
    <div layout="row" layout-align="center end">
      <md-button v-busy="settings.data.isLoading" type="submit" class="md-raised md-primary"
                 ng-click="settings.update()">
        <span class="white" translate>Mettre à jour</span>
      </md-button>
    </div>
  </div>
</md-content>