<md-content class="bg-transparent">
  <div class="fit-height fit-width" layout="column" layout-padding>
    <div class="fit-height" layout="row" layout-align="center center">
      <div layout="column" class="fit-height" layout-align="center center">
        <div layout="row" layout-align="center center">
          <md-input-container>
            <label>{{settings.data.labels.fiveName}}</label>
            <input type="text" ng-model="settings.data.newIdentity.five.name" name="name">
          </md-input-container>
        </div>
        <div layout="row" layout-align="center center">
          <md-input-container>
            <label>{{settings.data.labels.phone}}</label>
            <input phone-prefix type="text" ng-model="settings.data.newIdentity.five.phone" name="phone">
          </md-input-container>
        </div>
        <div layout="row" class="white ph-input" layout-align="center center">
          <div class="fit-width" >
            Changer la photo de couverture
          </div>
          <div >
            <mb-file-input type="file" file="settings.data.newIdentity.five.photo" hidden id="fivePhoto" accept="image/*"
                           loading="app.data.isLoading"></mb-file-input>
            <label for="fivePhoto" class="pointer pad-2x">
              <i class="grey material-icons">
                photo_camera
              </i>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div layout="row" layout-align="center end">
      <md-button v-busy="settings.data.isLoading" type="submit" class="md-raised md-primary"
                 ng-click="settings.update()">
        <span class="white" translate>Mettre à jour</span>
      </md-button>
    </div>
  </div>
</md-content>