#settings {
  .heading {
    font-size: 42px;
    height: 40vh;
    background-color: @white-transparent;
    md-input-container {
      font-size: 23px;
    }
    .city {
      font-size: 30px;
    }
  }
  md-tabs {
    md-tabs-wrapper {
      background-color: @white-transparent;
    }
  }
  md-input-container {
    margin-bottom: 0;
    &:not(.md-input-invalid) {
      &.md-input-has-value label {
        color: @grey;
      }
    }
  }
}