mb-calendar{
  height: 40vh;
  .year-ctn {
    min-width: 82px;
    .year {
      cursor: pointer;
      font-size:1.5em;
    }
  }
  .month-ctn {
    min-width: 82px;
    .month {
      cursor: pointer;
      font-size: 1em;
    }
  }
  .days-ctn {
    .md-button {
      min-width: 20px;
      margin: 0;
    }
    .week-ctn {
      padding-right: 0;
      .day {
        cursor: pointer;
        height: 30px;
        width: 30px;
        border-radius: 20px;
      }
    }
  }
  .circle:before {
    font-size: 15px;
    content: '\25CF';
  }
  //.circle-sm:before {
  //  content: '\25CF';
  //  font-size: 10px;
  //}
  .day-circle-ctn {
    width: calc(100% - 8px);
  }
  .circle-sm {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-top: -1px;
  }
  .vr {
    border-right: 1px solid @grey;
  }
}