<div id="mb-carousel">
  <div class="full-width fit-height">
    <div class="background">
      <img  ng-src="{{carousel.currentImg.src}}" alt="{{carousel.currentImg.alt}}">
    </div>
    <div class="titles">
      <div class="main">
        <p ng-repeat="title in carousel.currentImg.titles">{{title}}</p>
      </div>
      <div class="sub">
        <p ng-repeat="subTitle in carousel.currentImg.subTitles">{{subTitle}}</p>
      </div>
    </div>
    <div class="counters">
      <span ng-repeat="(key, img) in carousel.imgs" ng-click="changeImg(key)" ng-class="{'current' : img.src === carousel.currentImg.src}" class="circle">&nbsp;</span>
    </div>
  </div>
</div>