#mb-carousel {
  .background {
    overflow: hidden;
    .absolute;
    z-index: 0;
    background-color: @black;
    img {
      width: 100vw;
      opacity: 0.2;
    }
  }
  @media screen and (max-width: @phone-width-max) {
    .background {
      height: 27vh;
    }
    .titles {
      height: 27vh;
      p {
        line-height: 2px;
      }
      .main {
        font-size: 0.8em;
        line-height: 16px;
      }
      .sub {
        margin-top: @padding-3x;
        font-size: 0.3em;
        line-height: 5px;
      }
    }
    .circle:first-child {
      left: -4vw;
    }
    .counters {
      top: calc(24vh);
    }
  }
  @media screen and (max-width: @tablet-width-max) and (min-width: @tablet-width-min) {
    .background {
      height: 50vh;
    }
    .titles {
      height: 50vh;
      p {
        line-height: 15px;
      }
      .main {
        font-size: 1.2em;
        line-height: 18px;
      }
      .sub {
        margin-top: @padding;
        font-size: 0.7em;
        line-height: 1px;
      }
    }
    .counters {
      top: calc(45vh);
    }
    .circle:first-child {
      left: -2vw;
    }
  }
  @media screen and (min-width: @desktop-width-min) {
    .background {
      height: 50vh;
    }
    .titles {
      height: 50vh;
      p {
        line-height: 15px;
      }
      .main {
        font-size: 1.8em;
        line-height: 23px;
      }
      .sub {
        margin-top: @padding-3x;
        font-size: 1em;
        line-height: 5px;
      }
    }
    .circle:first-child {
      left: -1vw;
    }
    .counters {
      top: calc(45vh);
    }
  }
  .titles {
    .absolute;
    width: 100vw;
    top: 10vh;
    color: @grey;
    .main {
      font-weight: 500;
    }
    .sub {
      font-weight: 300;
    }
    text-align: center;
  }

  .counters {
    .absolute;
    z-index: 2;
    left: calc(50vw);
  }

  .circle {
    .absolute;
    height: 10px;
    width: 10px;
    left: 1vw;
    border-radius: 50%;
    border: solid @dark-grey 0.1em;
    &.current {
      background: @mb-color;
      border-color: @mb-color;
    }
  }
}