@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue'), local('HelveticaNeue'), url(../assets/fonts/helveticaneue/HelveticaNeue.ttf) format('truetype');
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue Medium'), local('HelveticaNeueMed'), url(../assets/fonts/helveticaneue/HelveticaNeueMed.ttf) format('truetype');
}

@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue Italic'), local('HelveticaNeueIt'), url(../assets/fonts/helveticaneue/HelveticaNeueIt.ttf) format('truetype');
}

@font-face {
  font-weight: 700;
  font-style: italic;
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue Italic'), local('HelveticaNeueIt'), url(../assets/fonts/helveticaneue/HelveticaNeueIt.ttf) format('truetype');
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Helvetica Neue Light';
  src: local('Helvetica Neue Light'), local('HelveticaNeueLt'), url(../assets/fonts/helveticaneue/HelveticaNeueLt.ttf) format('truetype');
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Avenir Light';
  src: local('Avenir Light'), local('AvenirLight'), url(../assets/fonts/Avenir/Avenir-Light.ttf) format('truetype');
}
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Avenir';
  src: local('Avenir'), local('Avenir'), url(../assets/fonts/Avenir/Avenir-Book.ttf) format('truetype');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
  url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
  url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.md-display-4 {
  font-size: 112px;
  font-family: 'Helvetica Neue Light';
}

.md-display-3 .md-display-2 .md-display-1 .md-headline .md-subhead .md-body-1 .md-caption {
  font-family: 'Helvetica Neue';
}

.md-title .md-body-2 .md-button{
  font-family: 'Helvetica Neue Med';
}