/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower

//@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

@import 'fonts.less';

//colors
@light-grey: #F9F9F9;
@grey: #CCCCCC;
@black-grey: #646464;
@dark-grey: #333;
@dark-blue: #2c3e50;
@red: #d0021b;
@mb-color: #29C134;
@black: #1D1D26;
@true-black: #000;
@white: #FFF;
@yellow: #f5a623;
@blue: #416CBF;
@white-transparent: rgba(255,255,255, 0.2);
@grey-transparent: rgba(255, 255, 255, 0.5);
@black-transparent: rgba(0,0,0, 0.4);

//paddings
@padding: 5px;
@padding-2x: 10px;
@padding-3x: 15px;
@padding-4x: 20px;
@padding-5x: 25px;
@padding-8x: 40px;
@padding-10x: 50px;
@padding-12x: 60px;

//phone, tablets and desktop widths
@phone-width-max: 499px;
@tablet-width-min: 500px;
@tablet-width-max: 736px;
@desktop-width-min: 737px;

//var
@header-height: 42px;

// reusable classes
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  font-family: 'Avenir Book', serif;
}

//[layout=row] {
//  flex-direction: row;
//}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// start colors

.red {
  color: @red;
}

.grey {
  color: @grey !important;
}

.dark-grey {
  color: @dark-grey;
}

.green {
  color: @mb-color;
}

.white {
  color: @white;
}

.black {
  color: @black;
}

.bg-red {
  background-color: @red;
}

.bg-light-grey {
  background-color: @light-grey;
}

.bg-dark-grey {
  background-color: @dark-grey !important;
}

.bg-grey {
  background-color: @grey;
}

.bg-blue {
  background-color: @dark-blue;
}

.bg-green {
  background-color: @mb-color;
}

.bg-yellow {
  background-color: @yellow;
}

.bg-black {
  background-color: @black !important;
}

.bg-transparent {
  background-color: rgba(0,0,0,0.5) !important;
}

.bg-gradient {
  background-image: linear-gradient(180deg, @dark-grey, @black);
}

.fill-grey {
  fill: @grey;
}

.fill-black {
  fill: @black;
}

// End colors

// Start utils

.main-content {
  padding-top: @header-height;
}

.valign {
  vertical-align: middle;
}

.avenir-heavy {
  font-family: 'Avenir Heavy';
}

.avenir-light {
  font-family: 'Avenir Light';
}

.scroll-content {
  height: calc(~'100vh - 42px');
}

.justify-text {
  text-align: justify;
}

.center-text {
  text-align: center;
}

.center-content {
  justify-content: center;
}

.pad-t-2x {
  padding-top: @padding-2x;
}

.pad-t-3x {
  padding-top: @padding-3x;
}

.pad-t-5x {
  padding-top: @padding-5x;
}

.pad-r-3x {
  padding-right: @padding-3x;
}

.pad-2x {
  padding: @padding-2x;
}

.pad-4x {
  padding: @padding-4x;
}

.pad-8x {
  padding: @padding-8x;
}

.no-pad {
  padding: 0 !important;
}

.no-margin {
  margin: 0;
}

.margin-t {
 margin-top: @padding;
}

.margin-t-2x {
  margin-top: @padding-2x;
}

.margin-t-3x {
  margin-top: @padding-3x;
}

.margin-t-5x {
  margin-top: @padding-5x;
}

.margin-l-3x {
  margin-left: @padding-3x;
}

.margin-r-3x {
  margin-left: @padding-3x;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.overflow {
  overflow: auto;
}

.no-height {
  height: 0;
}

.full-height {
  height: 100vh;
}

.fit-height {
  height: 100%;
}

.fit-width {
  width: 100%;
}

.full-width {
  width: 100vw;
}

.pointer {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.big {
  font-size: 20px;
}

.small {
  font-size: 12px;
}

.hint {
  /* Position the hint */
  position: absolute;
  right: auto;
  bottom: -9px;
  /* Copy styles from ng-messages */
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  /* Set our own color */
  color: @dark-grey;
}
.hint.ng-hide,
.hint.ng-enter,
.hint.ng-leave.ng-leave-active {
  bottom: 26px;
  opacity: 0;
}
.hint.ng-leave,
.hint.ng-enter.ng-enter-active {
  bottom: 7px;
  opacity: 1;
}

.transition-hover {
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

// End utils

// Start angular material rebranding

md-input-container {
  label {
    font-size: 1rem;
    color: @white;
    text-transform: uppercase;
  }
  &.md-icon-float {
    input, textarea {
      position: relative;
    }
  }
  &.switch-ctn {
    md-icon {
      position: absolute;
      top: 2px;
      left: 2px;
    }
    span {
      margin-left: 36px;
      color: @white;
    }
    md-switch {
      display: inline-flex;
      float: right;
      margin: 0px;
    }
  }
  md-select {
    .md-text {
      color: @white;
    }
    .md-select-icon {
      color: @white;
    }
    .md-select-value {
      border-color: @white-transparent;
    }
  }
  &:not(.md-input-invalid) {
    &.md-input-has-value label {
      color: @dark-grey;
    }
  }
  .md-input {
    border-color: @white-transparent;
    color: @white;
  }
}

md-toolbar {
  &.md-toolbar-sm {
    min-height: 42px;
    height: 42px;
    .md-toolbar-tools {
      min-height: 42px;
      height: 42px;
      .md-button {
        min-height: 32px;
        height: 32px;
        line-height: 32px;
      }
    }
  }
  &.grey {
    .md-button {
      svg {
        .fill-grey;
      }
    }
  }
  .navbar-link {
    color: @black-grey;
    cursor: pointer;
    line-height: 36px;
    min-height: 36px;
    font-size: 14px;
    margin: 0 28px;
    min-width: 88px;
  }
  .md-button {
    a {
      text-decoration: none;
      color: @black-grey;
    }
    md-icon {
      color: @grey !important;
      //line-height: 0.8;
    }
    color: @grey !important;
    text-transform: none;
    svg {
      .fill-black;
      shape-rendering: auto;
      vertical-align: bottom;
    }
  }
}

md-dialog {
  min-width: 700px;
}

md-tabs {
  .md-tab {
    color: @dark-grey;
    .capitalize;
    font-size: 18px;
    &.md-active {
      color: grey;
    }
  }
  md-tab-content {
    md-content {
      height: calc(~"60vh - 48px");
      overflow: scroll;
    }
  }
  md-ink-bar {
    color: @mb-color;
    background-color: @mb-color;
  }
}

md-card {
  height: 100%;
  .md-toolbar-tools {
    min-height: 40px;
    height: 40px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.4);
  }
  md-content {
    background-color: rgba(0, 0, 0, 0.1);
    padding: @padding-4x;
    &.bordered {
      border-left: solid 1px @true-black;
    }
  }
}

a {
  text-decoration: none;
}

:focus {
  outline: none;
}


// End angular material rebranding

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector
