#main {
  font-family: 'Avenir Light';
  .heading {
    font-size: 60px;
  }
  .sub-heading {
    width: 60%;
  }
  .desc {
    font-size: 25px;
    margin-top: @padding-8x;
  }
  .counter {
    padding: 0 10px;
    .number {
      padding: 0;
      font-size: 35px;
    }
    .text {
      padding: 0;
      font-size: 11px;
    }
  }
}