<div>
  <div class="head" layout="row">
    <span></span>
    <span class="title" ng-repeat="day in vm.data.daysDisplayed">{{day.name}}</span>
  </div>
  <div class="grid">
    <div class="time-slot-wrapper">
      <div class="hour" ng-repeat="hour in vm.data.hours">
        {{hour | hour}}
      </div>
    </div>
    <div class="tcontent">
      <div class="trow" ng-repeat="hour in vm.data.hours">
        <div class="tcell" ng-repeat="day in vm.data.daysDisplayed">
          <div class="cell-inner">
            <div class="event-ctn">
              <div id="{{day.number + '-' + hour}}" class="r-elem"
                   resizable r-directions="['bottom']" r-width="90" r-height="60">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>